<!doctype html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

        <!-- Custom styles for this template -->
        {% load static %}
        <link href="{% static 'GAv1/style.css' %}" rel="stylesheet">

        <style>
            a.navbar-brand {
                font-size: large;
             }
        </style>


    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#" ><span style="color:White; font-weight:bold; font-size:100%; font-family:Comic Sans MS; ">COVID-19 Vaccine Side Effects Predictor</span></a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
             <li><a href="/codeothonteam/prepage">Home</a></li>
             <li class="active"><a href="/codeothonteam/">Risk Stratification Tool</a></li>
             <li><a href="/codeothonteam/about">About</a></li>

             <li><a href="/codeothonteam/tutoral/">Resources</a></li>
             <li><a href="/codeothonteam/contact/">Contact</a></li>
           </ul>
         </div>
       </div>
     </nav>
      <!-- Header -->
      <header>
        <img src="{% static 'images/picture2.png' %}">
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
        </div>

      </header>


    <div class="container-fluid">
        <ul class="nav nav-tabs">
             <li role="presentation" class="active"><a href="#">Upload data</a></li>
             <li role="presentation" class="disabled"><a href="/codeothonteam/annotation/">Annotation</a></li>
             <li role="presentation"><a href="/codeothonteam/process/">Results & Download</a></li>
        </ul>
        <div class="container-fluid">
           <div class="row">
              <div class="col-xs-12 col-md-6">
                <form  class="userform_arguments" method="post"  enctype="multipart/form-data">
                   {% csrf_token %}
                   {% for onefield in form2 %}
                       <div class="form-group has-success">
                           <label class="col-md-3 control-label" for="inputSuccess1">{{onefield.label}}</label>
                           <div class="col-md-offset-3 text-left" ><span style="color:black;">{{ onefield }}<span></div>
                       </div>
                   {% endfor %}

                   <div class="form-group">
                       <div class="col-md-6">
                           <button type="submit" class="btn btn-success">Submit</button>
                       </div>
                  </div>
                </form>
              </div>
              <div class="col-xs-12 col-md-6">
                       <!--{% load crispy_forms_tags %}-->
                       <form  class="modelform_arguments" method="post"  enctype="multipart/form-data">
                          {% csrf_token %}
                          {% for onefield in form %}
                              <div class="form-group has-success">
                                  <label class="col-md-3 control-label" for="inputSuccess1">{{onefield.label}}</label>
                                  <div class="col-md-offset-3 text-left" ><span style="color:black;">{{ onefield }}<span></div>
                              </div>
                          {% endfor %}

                          <div class="form-group">
                              <div class="col-md-6">
                                  <button type="submit" class="btn btn-success">Submit</button>
                              </div>
                         </div>
                       </form>

              </div>


          </div>

       </div>


    </div>

    </body>
    <script>
      $(document).ready(function(){
    // add two buttons in a line
        $("#id_unique_code").after("  <button type='button' id='createcode' class='btn btn-warning btn-xs' title='Automatically create a new unique code'>Create unique code</button>  <p style='color:red;'> (Note: keep and use the unique-code to download the annotation result later)</p>");
     // create unique code
        $("#createcode").click(function(){
            var randomlength = Math.ceil(Math.random()*15+5);
            var uniquestr = Math.random().toString(36).substr(3,randomlength) + Date.now().toString(36);
            $("#id_unique_code").val(uniquestr);
            $("#homepagesubmit").attr("disabled",false);
        });
      });
    </script>
</html>
