<!doctype html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <!--<script src="//code.jquery.com/jquery-1.12.4.js"></script>  -->
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    
    
        <!-- Custom styles for this template -->
        {% load static %}
        <link href="{% static 'GAv1/style.css' %}" rel="stylesheet">
    
        <style>
            a.navbar-brand {
                font-size: large;
             }
        </style>
    </head>   
    <body>
       
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" ><span style="color:White; font-weight:bold; font-size:100%; font-family:Comic Sans MS; ">XXXX  Prediction</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/codeothonteam/">Home</a></li>
            <li><a href="/codeothonteam/about">About</a></li>
            <li><a href="/codeothonteam/contact/">Contact</a></li>
            <li><a href="/codeothonteam/tutoral/">Help</a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid"> 
        <ul class="nav nav-tabs">
             <li role="presentation" ><a href="/codeothonteam/">Upload data</a></li>
             <li role="presentation" class="active"><a href="#">Annotation</a></li>
             <li role="presentation"><a href="/codeothonteam/process/">Results & Download</a></li>
        </ul>
        <div class="container-fluid">
            <div id="divProgressbar" ></div>
            <div id="progressbar"></div>
            
            <div class="col-xs-12 col-md-8">
                 <h4>Prediction model is running...</h4>
                 <h4>When it is done. You will get an email with download link.</h4>
                 <!--<h4>After the running is done, you can download prediction result by click the link in your email or the button below </h4>
                 <a href="/codeothonteam/process/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Get Annotation Result</a>                   
                 -->
            </div>
       </div>

    </div><!-- /.container -->

    </body>
</html>

